<h1>Lübecker Fähigkeiten Profil</h1>

<h2>Insgesamt <%= @screenings.count %> Profile</h2>
<ul>
<% @screenings.each do |screening| %>
  <li><%= link_to "Profil vom #{screening.created_at.strftime("%d %b %Y")}", screening_path(screening)%></li>
<% end %>
</ul>
