<h1>test</h1>
<a href="/screenings" class="link"><span>alle tests</span></a>
<br>
<a href="/screenings/new" class="link"><span>neuer test</span></a>
<br>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
