// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin-top: 90px;
  background-color: #daeed3ff;
}

h1 h2 {
  color: $rich-black;
}


a {
  color: $rich-black;
  font-size: 18px;
}
